<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <!-- 필요한 메타 태그 및 CSS 링크 추가 -->
</head>
<body>
<div layout:fragment="content" class="container my-3">
    <div class="row my-3">
        <div class="col-12">
            <a th:href="@{/question/create}" class="btn btn-success">질문 등록하기</a>
        </div>
    </div>
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th class="text-center">제목</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="question : ${paging}">
            <td class="text-center">
                <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- 페이징처리 및 답변 개수 관련 내용 삭제 -->
    <form th:action="@{/question/list}" method="get" id="searchForm">
        <input type="hidden" id="kw" name="kw" th:value="${kw}">
        <input type="hidden" id="page" name="page" th:value="${paging.number}">
    </form>
</div>
<script layout:fragment="script" type='text/javascript'>
    // 필요한 경우 여기에 JavaScript 코드 추가
</script>
</body>
</html>
